/**
 * Contextual Host
 */

/** Ensure the popup is visible over the panel. */
.ms-ContextualHost {
    z-index: 2000;
}

/**
 * Dialog
 */

/** Ensure the dialog is displayed above the panel */
.ms-Dialog {
    z-index: 1050;
}

/**
 * Display Form
 */

/** Add an underline to the field */
.display-form {
    border-bottom: 1px solid #c8c8c8;
    padding: 5px 0px;
}
.display-form:hover {
    border-color: #767676;
}

/** The field value */
.display-form .field-value{
    font-size: 14px;
    font-weight: 300;
    padding-left: 5px;
    padding-top: 5px;
}

/**
 * Dropdown
 */

/** Update the font color to make it more visible. */
.dropdown .textfield .ms-TextField-field {
    color: #444;
}

/** Set the max height of the dropdown */
.ms-List--dropdown {
    max-height: 50vh;
    overflow-y: auto;
}

/**
 * Form Error
 */
.ms-Label.form-error {
    color: #a80000;
    font-size: 16px;
    font-weight: 600;
    padding-left: 12px;
}

/**
 * Field
 */

/** Label **/
.field-label {
    font-size: 14px;
    font-weight: 600;
    padding-left: 12px;
}

/**
 * Label
 */

/** Hide the description by default */
.ms-Icon.is-description span { display: none; }

/** Show the description on hover */
.ms-Icon.is-description:hover span { display: block; }

/**
 * Link Field
 */

 /** Add the underline */
.ms-LinkField {
    border-bottom: 1px solid #c8c8c8;
}
.ms-LinkField:hover {
    border-color: #767676;
}

/** Align the link */
.ms-LinkField .ms-Link {
    padding-left: 5px;
}

/**
 * Panel
 */

/** Fix the height */
.ms-Panel-contentInner {
    height: calc(100vh - 80px);
    padding-bottom: 0px;
}

/** Ensure the panel is displayed on top */
.ms-PanelHost {
    z-index: 1000;
}

/**
 * Text Field
 */

/** Update the disabled labels font color */
.ms-TextField .ms-TextField-field:disabled {
    color: #444;
}

/** Update the label for the underline type */
.ms-TextField.ms-TextField--underlined > .ms-Label.field-label {
    display: block;
}

/**
 * WebPart Tabs
 */

/** Remove the spacing around the webparts */
.ms-webpart-zone.wp-tabs {
    border-spacing: 0px;
}

/** Hide the titles of the webparts */
.ms-webpart-zone.wp-tabs .ms-webpart-chrome-title {
    display: none;
}