/**
 * Dropdown
 */

/** Update the font color to make it more visible. */
.dropdown .textfield .ms-TextField-field {
    color: #444;
}

/** Set the max height of the dropdown */
.ms-List--dropdown {
    max-height: 50vh;
    overflow-y: auto;
}

/**
 * Field
 */

/** Label **/
.field-label {
    padding-left: 12px;
    font-size: 14px;
    font-weight: 600;
}

/**
 * Panel
 */

/** Update to display over the ribbon & panel. */
.ms-ContextualHost.is-open {
    z-index: 1010;
}

/** Update to display over the ribbon. */
.ms-PanelHost {
    z-index: 1000;
}