/** Field Label **/
.field-label {
    padding-left: 12px;
    font-size: 14px;
    font-weight: 600;
}

/** Update to display over the ribbon & panel. */
.ms-ContextualHost.is-open {
    z-index: 1010;
}

/** Update to display over the ribbon. */
.ms-PanelHost {
    z-index: 1000;
}